<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css">
</head>
<body>
    <div class="flex justify-center h-screen my-10">
        <div class="text-center">
            <i data-feather="package" class="w-24 h-24 mx-auto mb-4 text-blue-500"></i>
            <h1 class="text-4xl font-bold mb-4">¡Bienvenid@! {{name}}</h1>
            <p class="text-lg mb-4">Puedes iniciar ingresando un Equipo.</p>
            <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-8 rounded"> Ingresar &nbsp; &nbsp;
                   <i class="fas fa-solid fa-desktop " style='font-size:23px'></i>
              
            </a>

            <p class="text-lg mb-4 my-10">Tambien puedes generar un Reporte.</p>
            <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-8 rounded"> Informes &nbsp; &nbsp;
             
      
                <i class='far fa-file-alt' style='font-size:23px'></i>
                
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>
